{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    {% include 'base/headerReferences.html' %}
</head>
<body>
{% render_partial 'homeapp.views.siteHeaderPartial' %}
{% block content %}{% endblock %}
{% render_partial 'homeapp.views.siteFooterPartial' %}
{% include 'base/footerReferences.html' %}
</body>
</html>