{% extends 'base/_layout.html' %}
{% load static %}

{% block content %}
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>{{ site_Settings.siteName }}</span></h1>
									<h2> تلفن: {{ site_Settings.phone }} </h2>
									<p>آدرس:  {{ site_Settings.address }}</p>
									<a class="button btn btn-default" href="{% url 'product-list-page' %}">محصولات</a>
								</div>
								<div class="col-sm-6">
									<img src="{% static 'images/home/girl2.jpg' %}" class="girl img-responsive" alt="" />
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section><!--/slider-->

	<section>
		<div class="container">
			<div class="row">
				<div class="recommended_items"><!--NewProduct_items-->
						<h2 class="title text-center">لوازم خانگی</h2>

						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                    {% for product in data2 %}
                                        <div class="col-sm-3 pull-right">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ product.image.url }}" alt="" />
													<h2>{{ product.price }} تومان </h2>
													<p>{{ product.shortDescription }}</p>
													<a href="{% url 'product-details-page' slug=product.slug %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>جزئیات بیشتر محصول</a>
												</div>

											</div>
										</div>
									</div>
                                    {% endfor %}
                                </div>
							</div>

				<div class="col-sm-12 padding-right">
					<div class="features_items">
					<div class="features_items"><!--WholeSale_items-->
						<a href="shop.html"><h2 class="title text-center">کالای دیجیتال</h2></a>
								<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                    {% for product in data3 %}
                                        <div class="col-sm-3 pull-right">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ product.image.url }}" alt="" />
													<h2>{{ product.price }} تومان </h2>
													<p>{{ product.shortDescription }}</p>
													<a href="{% url 'product-details-page' slug=product.slug %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>جزئیات بیشتر محصول</a>
												</div>

											</div>
										</div>
									</div>
                                    {% endfor %}
                                </div>
							</div>
                     <a href="shop-2.html"><h2 class="title text-center">ابزار های متفرقه</h2></a>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
                                    {% for product in data1 %}
                                        <div class="col-sm-3 pull-right">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ product.image.url }}" alt="" />
													<h2>{{ product.price }}</h2>
													<p>{{ product.shortDescription }}</p>
													<a href="{% url 'product-details-page' slug=product.slug %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>جزئیات بیشتر محصول</a>
												</div>

											</div>
										</div>
									</div>
                                    {% endfor %}
                                </div>
							</div>
				</div>

			</div>
		</div>
	</section>
{% endblock %}